.item-item {
    position: relative;
    width: 235.64px;
    height: 312.91px; 
    border-radius: 25px 25px 25px 25px;
    background-color: #d9d9d9;
    margin-bottom: 2rem;
}

.item img {
    position:absolute;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 70%;
}

.item-description {
    position: absolute;
    margin-top:100%;    
    height: 30%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: #d9d2f8;
    padding-left: 16px;
    padding-top: 8px;
}

.text {
    position:absolute;
    margin-left: 15px;
    line-height: 2px;
}

