.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  position: fixed;
  top: 1.5rem;
  z-index: 101;
}


.nav-menu {
  background-color: #ffffff;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 101;
  top: 0;
  left: -100%;
  transition: 850ms;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px
  ;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #8e8e8e;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top-right-radius: 15px;
}

span {
  margin-left: 16px;
}

.menu-create-listing {
  position: absolute;
  bottom: 10vh;
  align-items: center;
  margin-left: 4rem;
  width: 60%;
  background: #c5b6da;
  text-align: center;
  margin-top: 10rem;
  border-radius: 20px;
}
