:root {
    --davis-blue: #1B45B7;
    --davis-gold: 	#CCAD4F;
}

.navbar {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 10vh;
    margin: 0px;
    top: 0px;
    left: 0px;
    background: linear-gradient(
        90deg,
        var(--davis-blue),
        var(--davis-blue) 100%
    );
    box-shadow: 0px 3px 10px;


}

.nav {
    position: absolute;
    top: 0px;
    left: 1%;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav li {
    height: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    min-width: 50px;
    margin-left: 1rem;
}



.site-title {
    display: flex;
    align-items: center;
    height: 100%;
}

#sitelogo {
    height: 70%;
}

#menulogo {
    height: 90%;
}

#menulogo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#accountlogo {
    height: 5vh;

}

#searchbar {
    width: 30%;
    height: 60%;
}

#searchbar input {
    width: 100%;
    height: 100%;
}

#cartlogo {
    height: 90%;
    aspect-ratio: 1;
    position: relative;
    color: var(--davis-gold);
    /* box-shadow: 0px 3px 5px; */
    /* top: -10%; */
}

#cartlogo:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
}

.empty {
    width: 11%;
}


.accountLink {
    height: 100%;
    display: flex;
    align-items: center;
}

.account-button:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
}



.nav li input {
    height: 70%;
    border-radius: 5px;
}

.nav li div {
    height: 70%;
}

.leftmenu {
    position: fixed;
    height: 90vh;
    width: 25vw;
    top: 10vh;
    left: -25vw;
    background-color: white;
    transition: left 0.3s ease;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    border-radius: 0px 10px 10px 0px;
    z-index: 2;
}

.leftmenu.open {
    left: 0px;
    
}

.graycover.active {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 90vh;
    background-color: rgb(0, 0, 0, 0.5);
    top: 10vh;
}


.menuoptions {
    width: 25vw;
    height: 90vh;
    margin: 0.2vw;
}

.menuoptions h1 {
    font-size: 3vw;
    margin: 0px;
}

.optionslist {
    display: grid;
    padding: 0px;
    height: 70%;
    width: 100%;
    list-style-type: none;
    grid-template-rows: repeat(6, 1fr);
}

.optionslist li {
    display: flex;
    padding-left: 5%;
    align-items: center;
    font-size: 2vw;

}

.optionslist li:hover {
    color: var(--davis-blue);
}


.account-button {
    height: 100%;
    aspect-ratio: 3;
    background-color: var(--davis-gold);
    border: none;
    border-radius: 5px;
    padding: none 2rem;
    font-size: 1.75rem;
    /* box-shadow: 0px 3px 5px; */
}