.nav {
  width: 100%;
  height: 4rem;
  background-color: rgb(255, 246, 246);
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  position: sticky;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 1px 2px) drop-shadow(rgba(0, 0, 0, 0.06) 0px 1px 1px);
  border-bottom: 0.0625rem solid rgb(233, 236, 239); 
}

.site-title {
  margin: 0 0 0 120px;
  font-size: 2rem;
  font-weight: bold;
  columns: black;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav ul {
  margin: 0 120px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0;
}

.navbar-login {
  color: black ;
  background-color: rgb(203, 202, 255);
  
}

.navbar-register {
  background-color: rgb(102, 77, 154);
  color: white !important;
}

.navbar-links:hover {
  transform: scale(1.05);
}