* {
    /* border: 1px solid gray; */
}

.main-container {
    position: fixed;
    top: 10vh;
    width: 100vw;
    height: 90vh;


    display: flex;
    align-items: center;
    justify-content: center;
   
}

/* Background Image */

.signinbg {
    position: fixed;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    top: 10vh;
    filter: blur(2px);
}

/* LogIn */

.login-box {
    box-sizing: border-box;
    min-width: 300px;
    width: 30vw;
    height: 80vh;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: white; 

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    row-gap: 1rem;
}

.login-box h2 {
    margin: 0.8rem;
}

.sign-in-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 77%;
    height: 20%;
    padding: auto;
    border: none;
}

.left-align {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.login-box form input:not([type="checkbox"]) {
    /* padding: 0 0 0 5%; */
    font-size: 1.3rem;
    margin-top: 5%;
    width: 97%;
    height: 30%;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px;
    /* padding: auto; */
}

.login-box form input::placeholder {
    font-size: 1rem;
    /* padding: auto; */
    
}



#submit {
    margin-top: 5%;
    width: 77%;
    font-size: 1.5rem;
    border: none;
    background-color: var(--davis-blue);
    border-radius: 5px;
    color: var(--davis-gold);
    margin-bottom: 0.75rem;
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
}

#submit:hover {
    opacity: 0.9;
}

#submit:active {
    opacity: 1.0;
}

.login-box p {
    font-size: 0.9rem;
    text-align:left;
    margin: 0px;
    padding: 0px;
}

.login-box hr {
    margin-top: 2rem;
    width: 85%;
}

#forgot-password {
    margin-top: 0.3rem;
}

#sign-in-with-google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    aspect-ratio: 5.5/1;
    border-radius: 10px;
    cursor: pointer;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.5s;
  }
  .ripple:hover {
    background: rgb(220, 220, 220) radial-gradient(circle, transparent 50%, rgb(239, 239, 239) 1%) center/15000%;
  }
  .ripple:active {
    background-color: rgb(199, 199, 199);
    transition: background 0s;
  }
  

#sign-in-with-google-button p {
    font-size: 1rem;
}

#sign-in-with-google-button img {
    height: 1.5rem;
    aspect-ratio: 1/1;
}

#cutecow {
    width: 40%;
    aspect-ratio: 1/1;
}



